<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cureit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCFvgFMc-HzeLOryxfbinrhFyzYy--N_tI" />

        <activity
            android:name=".map"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".patient_profile" />
        <activity android:name=".patients" />
        <activity
            android:name=".doctors_profile"
            android:theme="@style/dashboardStyle" />
        <activity android:name=".recordSingleActivity" />
        <activity android:name=".add_records" />
        <activity
            android:name=".editaccount"
            android:theme="@style/dashboardStyle" />
        <activity
            android:name=".account"
            android:theme="@style/dashboardStyle" />
        <activity android:name=".setalarm"
            android:theme="@style/dashboardStyle"
            />
        <activity android:name=".setappointment" />
        <activity android:name=".renewmedicines" />
        <activity android:name=".doctors" />
        <activity android:name=".medicalrecords" />

        <activity
            android:name=".dashboard"
            android:theme="@style/dashboardStyle" />
        <activity android:name=".signup" />

        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>