<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cureit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".doctor_Profile"
            android:label="@string/title_activity_doctor__profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".recordSingleActivity" />
        <activity android:name=".add_records" />
        <activity
            android:name=".editaccount"
            android:theme="@style/dashboardStyle" />
        <activity
            android:name=".account"
            android:theme="@style/dashboardStyle" />
        <activity android:name=".setalarm" />
        <activity android:name=".setappointment" />
        <activity android:name=".renewmedicines" />
        <activity android:name=".doctors" />
        <activity android:name=".medicalrecords" />
        <activity
            android:name=".dashboard"
            android:theme="@style/dashboardStyle" />
        <activity android:name=".signup" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>